<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auto</title>
</head>
<body>

<h1>Visualizza Auto</h1>

<div th:if="${auto.cliente == null}">
    <a th:href="@{/auto/aggiungiClienteAdAuto/}+${auto.id}"><button>Vendi auto ad un cliente</button></a>
</div>

<h2>Informazioni</h2>
<span><p>Modello:</p><label>[[${auto.modello}]]</label></span>

<p>Clienti:</p>
<div th:if="${auto.cliente != null}">
    <span th:text="${auto.cliente.id}"/></span>-
        <span th:text="${auto.cliente.nome}"/></span>
</div>

</body>
</html>